@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" style="color:green">Welcome to Hyderabad Phani</h1>
    <p style="color:red">Have a great day</a>.</p>
</div>
